<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "input-lg" %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.cktext_area :content %>
  </div>

  <div class="field">
    <%= f.label :add_tags %>
    <span class="glyphicon glyphicon-tag"></span>
    <%= f.text_field :tag_list, class: "form-control" %>
  </div>

  <div>
     <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.submit "Post", class: "input-lg btn btn-primary" %>
  </div>
<% end %>
