<%= will_paginate %>
<section class="products">
	<% users_collection.each do |user| %>
	  <div class="product-card">
	    <div class="product-image">
	      <%= image_tag(user[:avatar].url(:medium)) %>
	    </div>
	    <div class="product-info">
	      <h5><%= link_to "#{user[:name]}", user_path(user[:user]) %></h5>
	      <h6><%= user[:city] %></h6>
	      <% if !user[:fb_profile].blank? %>
	        <h6><%= link_to user[:fb_profile], user[:fb_profile] %></h6>
	      <% end %>
	      <% if user[:user] != current_user %> 
		      <% if user[:is_friend] %>
		      	<span class="glyphicon glyphicon-user"></span> |
		     	<% elsif user[:has_got_friend_request] %>
		     		<%= render partial: "users/shared/remove_friend_request_link", locals: {friend: user[:user], request: user[:friend_request_sent]} %> |
		     	<% elsif user[:has_sent_friend_request] %>
		     		<%= link_to "Respond to friend request", friend_requests_path %> |
		     	<% else %> 
            <%= render partial: "users/shared/add_friend_link", locals: {user: user[:user]} %> |
		     	<% end %>

		     	<% if !user[:is_followed] %>
		     		<%= render partial: "users/shared/follow_link", locals: {user: user[:user]}%>
		     	<% else %>
		     		<%= render partial: "users/shared/unfollow_link", locals: {user: user[:user], relationship: user[:follow_relation]}%>
		     	<% end %>
		    <% end %>
	    </div>
	  </div>
	<% end %>
</section>
<%= will_paginate %>