<div id="user_profile">
	<h1 id="title"><%= user[:name] %></h1>
	<% if !user[:city].blank? %>
		<h5 id="about_user">
			<span class="glyphicon glyphicon-map-marker"><span>
			<%= user[:city] %>
		</h5>
	<% end %>

	<% if !user[:about].blank? %>
		<h5 id="about-user">"<%= user[:about] %>"</h5>
	<% end %>
	
	<div id="profile_image">
		<div class="round-image-profile">
			<%= image_tag(user[:avatar].url(:thumb)) %>
		</div>
	</div>

	<p>
		<%= link_to "Followers", "#", "data-toggle" => "modal", "data-target" => "#followers_modal" %>
		<span class="badge"><%= user[:followers_count] %></span> |
		<%= link_to "Following", "#", "data-toggle" => "modal", "data-target" => "#follows_modal" %>
		<span class="badge"><%= user[:following_count] %></span>
		<%= render partial: "users/shared/followers_modal", locals:{ user: user[:user]} %>
		<%= render partial: "users/shared/follows_modal", locals:{ user: user[:user]} %>
	</p>

	<% if user[:user] != current_user %>
		<% if user[:is_friend] %>
      <span class="glyphicon glyphicon-user"></span> 
    <% elsif user[:has_sent_friend_request]%>
      <%= link_to "Respond to friend request", friend_requests_path %> 
    <% elsif user[:has_got_friend_request] %>
     	<%= render partial: "users/shared/remove_friend_request_link", locals: {friend: user[:user], request: user[:friend_request_sent]} %> 
    <% else %>
      <%= render partial: "users/shared/add_friend_link", locals: {user: user[:user]} %>
    <% end %> |

		<% if !user[:is_followed] %>
			<%= render partial: "users/shared/follow_link", locals: {user: user[:user]} %>
		<% else %>
			<%= render partial: "users/shared/unfollow_link", locals: {user: user[:user], relationship: user[:follow_relation]}%>
		<% end %>
	<% end %>
</div>
