<div class="friends">
	<%= form_tag 'users/find_friends' do%>
		<p>Enter current location to find friends nearby:</p>
	  <p><%= text_field_tag 'current_location' %></p><%= params[:current_location]%>
	  <p><%= submit_tag "Find", class: "btn-primary"%></p>
	<% end %>
</div>

<% if @nearby_friends %>
	<div class = "find-friends">
	<span class="glyphicon glyphicon-user"></span>Friends Near You:
		<% @nearby_friends.each do |friend| %>
			<table class="table table-hover">
				<tbody>
					<tr>
						<td>
							<div class="round-image-50">
								<%= image_tag(friend.avatar.url(:thumb)) %>
							</div>
						</td>
						<td>
							<%= link_to "#{friend.name}", user_path(friend) %>
						</td>
					</tr>
				</tbody>
			</table>
		<% end %>
	</div>
<% end %>

