<div class="row">
	<%= render "layouts/logged_in_subscriber" %>
	<%= render "users/shared/friends" %>
	<div class="col-md-6 col-md-offset-3">
		<% if flash[:notice] %>
			<div class="notice"><%= notice %></div>
    	<%= alert %>
    <% end %>
		<div id="user_profile">
			<h1 id="title"><%= @user.name %></h1>
			<h5 id="about-user">
				<span class="glyphicon glyphicon-map-marker"><span>
				<%= @user.city %>
			</h5>
			<% if !@user.about.blank? %>
				<h5 id="about-user">"<%= @user.about %>"</h5>
			<% end %>

			<div id="profile_image">
				<div class="round-image-profile">
					<%= image_tag(@user.avatar.url(:thumb)) %>
				</div>
			</div>

			<p>
				<%= link_to "Followers", "#", "data-toggle" => "modal", "data-target" => "#followers_modal" %>
				<span class="badge"><%= current_user.is_followed_by %></span> |
				<%= link_to "Following", "#", "data-toggle" => "modal", "data-target" => "#follows_modal" %>
				<span class="badge"><%= current_user.is_following %></span>
				<%= render partial: "users/shared/followers_modal", locals: {user: @user} %>
				<%= render partial: "users/shared/follows_modal", locals: {user: @user} %>
			</p>
		</div>
		
		<% if @posts.any? %>
			<%= render "shared/feed" %>
		<% else %>
			<p>There are no posts to show.</p>
		<% end %>
	<div>
</div>
