<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <% if flash[:notice] %>
      <div class="notice alert-danger"><%= flash[:notice] %></div>
    <% end %>
    <div class="search-form">
      <%= form_tag(users_path, method: "get", id: "search-user-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Users", value: nil%>
        <%= button_tag(type: 'submit') do %>
          <span class="glyphicon glyphicon-search"></span> 
        <% end %>
      <% end %>
    </div>
    <h1 id="title">Listing All Users</h1>
    <% if @users.any? %>
      <div id="users">
      	<%= render 'show_all_users' %>
      </div>
    <% else %>
      No users found
    <% end %>
  </div>
</div>
