<div style=" margin-left: <%= l %>px; ">
  <% if l == 0 %>
    <% l = 50 %>
  <% end %>
  <% comments.order("created_at DESC").each do |comment| %>
    <%= render partial: "comments/shared/print_comment", locals: {comment: comment, l: 0} %>

    <div class="replies" id="<%= "replies_all_#{comment.id}" %>">
      <% comments = comment.children.includes(:post, :liked_by, :user) %>
      <%= render partial: "shared/comment", locals: {comments: comments, l: l * 0.9, post: post} %>
    </div>
    
    <div id="reply_print_<%= "#{comment.id}"%>" %></div>

    <div  id="reply_div<%= "#{comment.id}" %>", class="add-reply">
      <%= form_for([post, post.comments.build], remote: true) do |f| %>
        <%= f.hidden_field :reply_to, value: comment.id %>
        <%= f.hidden_field :level, value: comment.level + 1 %>
          <% if !comment.base_reply %>
            <%= f.hidden_field :base_reply, value: comment.id %>
          <% else %>
            <%= f.hidden_field :base_reply, value: comment.base_reply %>
          <% end %>   
        <%= f.text_area :content, class: 'form-control new-reply' %><br>
        <%= f.submit class:"btn btn-primary" %>
      <% end %>
    </div>

  <% end %>
</div> 
