<table class="table table-hover">
	<thead>
		<th>Posts</th>
	</thead>
	<% @user.posts.each do |post|%>
		<tbody>
			<tr>
				<td>
					<div>
						<h3><%= link_to "#{post.title}", post_path(post) %></h3>
					</div>
					<div><%= post.content.html_safe %></div>
						<% if post.image_file_name != nil %>
							<div><%= image_tag(post.image.url(:med)) %></div>
						<% end %>
					<div>
						<%= link_to "#{post.user.name}", user_path(post.user_id) %>
						<%= post.created_at %>
					</div>
				</td>
			</tr>
		</tbody>
	<% end %>
</table>