<div id="whole_comment_<%= comment.id %>" style=" margin-left: <%= l %>px; "> 
  <div class="round-image-50"; style="float: left;">
    <%= image_tag(comment.user.avatar.url(:thumb)) %>
  </div>
  <div id="reply_content"> 
    <div style="float: left;">
      <strong><%= comment.user.name %></strong>
        <span id="time_ago">
          --<%= time_ago_in_words(comment.created_at) %> ago 
        </span>
    </div>   
    <div>"<%= comment.content %>"</div>
    <div>
      <div>
        <span id="comment-likes-count<%= comment.id%>">
          <%= render partial: "shared/comment_likes_count", locals: {comment: comment} %>
        </span>
           
        <% if !comment.is_liked_by?(current_user) %>
          <span id="comment-like<%=comment.id%>">
            <span class="glyphicon glyphicon-thumbs-up">
              <%= link_to "Like", comment_likes_path(comment_id: comment), method: :post, remote: true %>
            </span>
          </span> 
        <% else %>
          <% like = current_user.comment_likes.find_by(comment_id: comment) %>
          <span id="comment-unlike<%=comment.id%>">
            <span class="glyphicon glyphicon-thumbs-down">
              <%= link_to "Unlike", comment_like_path(like), method: :delete, remote: true %>
            </span>
          </span>
        <% end %>
      </div>
      <%= link_to "Reply", "javascript:void(0);", 
                  id: "addcomment_#{comment.id}", class: "reply"%> 

      <%= link_to "Reply2", new_post_comment_path(@post, comment), 
                  id: "addcomment_#{comment.id}", class: "reply",
                                                    remote: true%> 

      <% if comment.user_id == current_user.id %>
        <div class="comment-options"> 
          <span>
            <%= link_to "<i class=\"glyphicon glyphicon-pencil\"></i>".html_safe, edit_post_comment_path(@post, comment), remote: true %>

            <%= link_to "<i class=\"glyphicon glyphicon-trash\"></i>".html_safe, [comment.post, comment], method: :delete,
                data: { confirm: 'Are you sure?' }, remote: true %>
          </span>
        </div>
      <% end %>

      <% if (comment.children.length > 0) %>
        <%= link_to "All Replies", "javascript:void(0);", class: "comment-reply", id: "comment_show_#{comment.id}" %>
        <%= link_to "Hide Replies", "javascript:void(0);",  class: "comment-hide", id: "comment_hide_#{comment.id}" %>
      <% end %>
    </div>
  </div>
</div>
