<table class="table table-hover">
	<% incoming.each do |request| %>
		<tr id="remove_<%=request.friend.id%>">
			<td>
				<%= link_to "#{request.user.name}", user_path(request.user) %>
			</td>
			<td>
				<span id="remove_request_<%= request.friend.id %>">
					<%= link_to "Accept", friend_request_path(request), method: :put, remote: true %>
				<span>
			</td>
			<td>
				<span id="remove_request_<%= request.friend.id %>">
  				<%= link_to "Remove Request", friend_request_path(request), method: :delete, remote: true %>
				</span>
			</td>
		</tr>
	<% end %>
</table>
