<h1 id="posttitle"><%= @post.title %></h1>
<p>
    <strong><div id="postcontent"><%= @post.content %></div></strong>
</p>
<% @post.comments.order(created_at: :desc).each do |comment| %>
    <fieldset>
    <% if !comment.reply_to %>
      <p>
        <legend id="legend"><%= comment.user.name %><span id="commenter"> says</span></legend>   
      </p>
      <div class="commentcontent">"<%= comment.content %>"</div> 
      <% if comment.user_id == current_user.id %>
        <%= link_to 'Destroy Comment', [comment.post, comment],
            method: :delete,
            data: { confirm: 'Are you sure?' } %> 
      <% end %> 
      <%= link_to "Reply", post_comment_path(comment.post, comment) %>  
    <% end %>
    </fieldset>


<% end %>  

