<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="search-form">
      <%= form_tag(post_myblogs_path, method: "get", id: "search-myblogs-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
        <%= button_tag(type: 'submit') do %>
          <span class="glyphicon glyphicon-search"></span> 
        <% end %>
      <% end %>
    </div>
    <h1 id="title">Listing Your Posts</h1>
    <%= link_to "<i class=\"glyphicon glyphicon-plus\"></i> Create a new blog.".html_safe, new_post_path%>
    <% if @posts.any? %>
	  	<div id="myposts"> 
	    	<%= render partial: "posts/shared/my_posts", locals: {posts: @posts} %>
	    </div>
	  <% else %>
	  		<p>Create your first blog!</p>
	  <% end %>
  </div>
</div>
