<%= tinymce_assets %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'post_details' %>
    <div id="rating">
      <%= link_to @post.user.name, '#' %>
      <%= rating_for @post, 'content', enable_half: true, half_show: true, cancel: true%>
    </div>
    <span id="post_likes_count"> 
      <%= render "post_likes_count" %>
    </span> 
    <% if !@post.liked_by.include?(current_user) %>
      <span id="like-span">
        <span class="glyphicon glyphicon-thumbs-up">
          <%= link_to "Like", likes_path(:post_id => @post),method: :post, remote: true %>
        </span>
      </span>   
    <% else %>
      <% like = current_user.likes.find_by(:post_id => @post)  %>
      <span id="unlike-span">
        <span class="glyphicon glyphicon-thumbs-down">
          <%= link_to "Unlike", like_path(like),method: :delete, remote: true %>
        </span>
      </span>
    <% end %>
    <% if @post.user_id == current_user.id %>
      <div>
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <h5>Add a comment:</h5>
    <%= render "shared/new_comment_form" %>

    <% if @post.comments.exists? %>
      <p>Comments:</p>
      <% comments =  @post.comments.includes(:user, :liked_by, :children).where("reply_to" => nil) %>
      <%= render partial: "shared/comment", locals: {comments: comments, l: 0, post: @post} %>
    <% end %>
  </div>
</div>
      