<div id="printing-post">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: "posts/shared/post_details", locals: {post: @post} %>
    <div id="rating">
      <%= link_to @post.user.name, '#' %>
      <%= rating_for @post, 'content', enable_half: true, half_show: true, cancel: true%>
    </div>

    <span id="post_likes_count"> 
      <%= render partial: "posts/shared/post_likes_count", locals: {post: @post} %>
      <%= render partial: "posts/shared/liked_by_modal", locals: {users: @users} %>
    </span>

    <% if !@post.is_liked_by?(current_user) %>
      <span id="like-span">
        <span class="glyphicon glyphicon-thumbs-up">
          <%= link_to "Like", likes_path(post_id: @post),method: :post, remote: true %>
        </span>
      </span>   
    <% else %>
      <% like = current_user.likes.find_by(post_id: @post)  %>
      <span id="unlike-span">
        <span class="glyphicon glyphicon-thumbs-down">
          <%= link_to "Unlike", like_path(like),method: :delete, remote: true %>
        </span>
      </span>
    <% end %>

    <h5>Add a comment:</h5>
    <%= render "shared/new_comment_form" %>
    <div id="base_comment"></div>

    <% if @post.comments.exists? %>
      <%= render partial: "shared/comment", locals: {comments: @comments, l: 0, post: @post} %>
    <% end %>

    <span id="top_link">
      <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'fast');">
        <i class="glyphicon glyphicon-chevron-up"></i>
      </a>
    </span>
    
  </div>
</div>
</div>
      