<div id="wrapper">
  <div id="sidebar_wrapper">
    <ul class="sidebar-nav">
      <% if current_user %>
        <div class="round-image-50">
          <%= image_tag(current_user.avatar.url(:thumb)) %>
        </div>
        <div id="username">Hi, <%= current_user.name %></div>   
      <% end %>
      <li class="sidebar-brand">            
      </li>
      <li>
       <%= link_to "Dashboard", home_path %>      
      </li>
      <li>
        <%= link_to "My Profile", user_path(current_user) %>
      </li>
      <li>
        <%= link_to "All Blogs(#{Post.count})", posts_path %> 
      </li>
      <li>
        <%= link_to "My Blogs(#{current_user.posts.count})", post_myblogs_path %>
      </li>
      <li id="count">
        <%= render partial: "layouts/show_friends_count" %>
      </li>
      <li id="pending">
        <%= render partial: "layouts/count_pending_friends" %>
      </li>
      <li>
        <a href="#" data-toggle="modal" data-target="#myModal">About</a>
      </li>
      <li>
        <a href="#" data-toggle="modal" data-target="#myModal">Services</a>
      </li>
      <li>
        <a href="#" data-toggle="modal" data-target="#myModal">Contact</a>
      </li>
    </ul>
  </div>
</div>
