<!DOCTYPE html>
<html>
	<head>
  	<title>DeviseUseApp</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<link type="stylesheet/css" href="assets/stylesheets/animation.css">
	</head>

	<body>
		<%= render 'layouts/header' %>
		<%= render 'layouts/modal' %>
		<% if current_user %>
			<%= render 'layouts/leftnav' %>
		<% end %>
		<%= yield %>
		<!-- Go to www.addthis.com/dashboard to customize your tools -->
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57c7b6ea06a4a5fc"></script>
	</body>
</html>
