<!DOCTYPE html>
<html>
<head>
  <title>DeviseUseApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link type="stylesheet/css" href="assets/stylesheets/animation.css">
</head>
<body>
<div class="container-fluid">		
	<%= render 'layouts/header' %>
	<% if current_user %>
		<%= render 'layouts/leftnav' %>
	<% end %>
	<%= yield %>
	<%= render 'layouts/background' %>
</div>
</body>
</html>
